body {
    margin-top: 5%;
}
.no-margin{
    margin-top: 0;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

.img-width{
    width: 50% !important;
}

div .form-inline form{
    display: inline;
}

.mgt-08{
    margin-top: 0.8% !important;
}

.mgt-1{
    margin-top: 1% !important;
}

.flex-end{
    display: flex !important;
    justify-content: end !important;
}


.dropdown-menu{
    left: unset !important;
}

@media all and (max-width: 770px) {
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        display: block !important;
    }
    .nav .navbar-nav .navbar-right{
        display: block !important;
    }
    #navbar{
        display: contents !important;
        justify-content: end !important;
    }
    .navbar-nav{
        margin: 0 !important;
    }
    .pt{
        padding-top: 2px !important;
    }
    .pt-5px{
        padding-top: 5px;
    }
    body{
        margin-top: 15%;
    }

}

.btn-group .btn {
    width: 152px !important;
}



.nav .navbar-nav .btn{
    width: 100px !important;
}

.pt{
    padding-top: 9px !important;
}

.navbar-nav .dropdown-menu{
    position: absolute !important;
}
