body {
    padding-top: 70px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

.img-width{
    width: 50% !important;
}

div .form-inline form{
    display: inline;
}

.mgt-05{
    margin-top: 0.5% !important;
}

.mgt-1{
    margin-top: 1% !important;
}

.flex-end{
    display: flex !important;
    justify-content: end !important;
}


.dropdown-menu{
    left: unset !important;
}

@media all and (max-width: 800px) {

}
